@font-face {
  font-family: Roboto-Regular;
  src: url("./Roboto-Regular.ttf");
}

.hello {
  color: red;
  font-family: Roboto-Regular;
  background-image: url("./icon.jpg");
}
.img {
  max-width: 300px;
  object-fit: contain;
}
